{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="container">
    <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
  <ul class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 shadow w-220px" data-bs-theme="light">
    <li>
      <a class="dropdown-item rounded-2 active" href="#">
        <font dir="auto" style="vertical-align: inherit;">
          <font dir="auto" style="vertical-align: inherit;">Действие</font>
        </font>
      </a>
    </li>
    <li>
      <a class="dropdown-item rounded-2" href="#">
        <font dir="auto" style="vertical-align: inherit;">
          <font dir="auto" style="vertical-align: inherit;">Другое действие</font>
        </font>
      </a>
    </li>
    <li>
      <a class="dropdown-item rounded-2" href="#">
        <font dir="auto" style="vertical-align: inherit;">
          <font dir="auto" style="vertical-align: inherit;">Здесь есть еще кое-что</font>
        </font>
      </a>
    </li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li>
      <a class="dropdown-item rounded-2" href="#">
        <font dir="auto" style="vertical-align: inherit;">
          <font dir="auto" style="vertical-align: inherit;">Отдельная ссылка</font>
        </font>
      </a>
    </li>
  </ul>
  <ul class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 border-0 shadow w-220px" data-bs-theme="dark">
    <li>
      <a class="dropdown-item rounded-2 active" href="#">
        <font dir="auto" style="vertical-align: inherit;">
          <font dir="auto" style="vertical-align: inherit;">Действие</font>
        </font>
      </a>
    </li>
    <li>
      <a class="dropdown-item rounded-2" href="#">
        <font dir="auto" style="vertical-align: inherit;">
          <font dir="auto" style="vertical-align: inherit;">Другое действие</font>
        </font>
      </a>
    </li>
    <li>
      <a class="dropdown-item rounded-2" href="#">
        <font dir="auto" style="vertical-align: inherit;">
          <font dir="auto" style="vertical-align: inherit;">Здесь есть еще кое-что</font>
        </font>
      </a>
    </li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li>
      <a class="dropdown-item rounded-2" href="#">
        <font dir="auto" style="vertical-align: inherit;">
          <font dir="auto" style="vertical-align: inherit;">Отдельная ссылка</font>
        </font>
      </a>
    </li>
  </ul>
</div>
</div>
{% endblock %}